#history {
    overflow-wrap: anywhere;
}

a {
    color: black;
}

#cancel {
    background: none;
    border: none;
    color: #898784;
    font-style: italic;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
